<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.getsensibill.spendmanager.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensibill"
        tools:replace="android:allowBackup">
        <activity android:name=".LauncherActivity" />
        <activity android:name=".direct.DirectJavaActivity" />
        <activity android:name=".direct.DirectKotlinActivity" />
        <activity android:name=".subclass.SubclassKotlinActivity" />
        <activity android:name=".subclass.SubclassJavaActivity" />
        <activity android:name=".fragment.FragmentKotlinActivity" />
        <activity android:name=".fragment.FragmentJavaActivity" />
        <activity android:name=".capture_flow.CaptureFlowKotlinActivity" />
        <activity android:name=".capture_flow.CaptureFlowJavaActivity" />
        <activity android:name=".capture_flow_metadata.CaptureWithMetaDataFlowKotlinActivity" />
        <activity android:name=".capture_flow_metadata.CaptureWithMetaDataFlowJavaActivity" />
        <activity android:name=".DemoAuthActivity" />
        <activity android:name=".DemoAuthJavaActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Opts out of data collection from Google while using the webView -->
        <meta-data android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

    </application>

</manifest>