<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getsensibill.spendmanager.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.spendmanager.demo">
        <activity android:name=".LauncherActivity" />
        <activity android:name=".direct.DirectJavaActivity" />
        <activity android:name=".direct.DirectKotlinActivity" />
        <activity android:name=".subclass.SubclassKotlinActivity" />
        <activity android:name=".subclass.SubclassJavaActivity" />
        <activity android:name=".fragment.FragmentKotlinActivity" />
        <activity android:name=".fragment.FragmentJavaActivity" />
        <activity android:name=".capture_flow.CaptureFlowKotlinActivity" />
        <activity android:name=".capture_flow.CaptureFlowJavaActivity" />
        <activity android:name=".capture_flow_metadata.CaptureWithMetaDataFlowKotlinActivity" />
        <activity android:name=".capture_flow_metadata.CaptureWithMetaDataFlowJavaActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.spendmanager.demo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>